body {
	width: 100%;
	
	display: flex;
	flex-flow: row wrap;
	
	justify-content: space-around;
	align-items: stretch;
}

body > header, body > footer {
	width: 100%;
}

body > aside {
	border: 1px solid orange;
	
	flex-grow: 0;
}

body > main {
	border: 1px solid purple;
	
	flex-grow: 1;
	
	display: flex;
	flex-flow: column nowrap;
	align-items: stretch;
}

#parts {
	margin: 0;
	padding: 0;
	
	list-style-type: none;
}

ul[dnd-list], ul[dnd-list] > li {
	position: relative;
}

ul.base-parts {
	border: 1px solid orange;
	
	margin: 0;
	padding: 0;
	
	flex-grow: 1;
	
	list-style-type: none;
	
	display: flex;
	flex-flow: column nowrap;
	align-items: stretch;
}

ul.base-parts>li {
	
}
