<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-GB" xml:lang="en-GB">
	<head>
		<meta charset="UTF-8"/>
		<title>MKS Base Calculation</title>
		
		<link rel="stylesheet" type="text/css" href="index.css">
		
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.9/angular.min.js"></script>
		<script src="app.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-drag-and-drop-lists/1.4.0/angular-drag-and-drop-lists.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.9/angular-sanitize.min.js"></script>
		<script src="content-editable.js"></script>
		<script src="parsimmon.js"></script>
		<script src="config-parser.js"></script>
		<script src="config-crawler.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.11/ngStorage.min.js"></script>
		<script src="part.js"></script>
		<script src="load-data.js"></script>
		<script src="index.js"></script>
	</head>
	<body ng-app="mksCalculation" ng-controller="mksCalculationController">
		<header>
			<h1>MKS Base Calculation</h1>
		</header>
		<section id="baseParts">
			<aside>
				<h2>Parts</h2>
				<ul class="parts">
					<li ng-repeat="part in parts" dnd-draggable="part" dnd-effect-allowed="copy" dnd-type="partType">
						{{part.title}}
					</li>
				</ul>
			</aside>
			<main>
				<h2>Base Parts</h2>
				<ul dnd-list="baseParts" dnd-allowed-types="[partType]" dnd-horizontal-list="true">
					<li class="dndPlaceholder">Drop part here</li>
					<li class="basePart" ng-repeat="part in baseParts" dnd-draggable="part" dnd-effect-allowed="moveCopy" dnd-type="partType" dnd-moved="baseParts.splice($index, 1)">
						<header>{{part.title}}</header>
						<section class="converters">
							<header>Converters</header>
							<section ng-repeat="(bayName, bay) in part.bays">
								<section ng-hide="bay.isDefault">
									<header>{{bay.typeName}} {{bayName}}</header>
									<select ng-options="converterName for (converterName, converter) in part.converters track by converter.name" ng-model="bay.selectedConverter"></select>
								</section>
								<section ng-show="bay.selectedConverter">
									<section class="resourceFlow"">
										<ul>
											<li ng-repeat="input in bay.selectedConverter.inputs">{{input.name}} ({{input.ratio}})</li>
										</ul>
										<span><span>&#8611;</span></span>
										<ul>
											<li ng-repeat="output in bay.selectedConverter.outputs">{{output.name}} ({{output.ratio}})</li>
										</ul>
									</section>
								</section>
							</section>
						</section>
					</li>
				</ul>
			</main>
		</section>
		<footer>
			<a href="https://github.com/sammhicks/mks-base-calculation">Source on GitHub</a>
		</footer>
	</body>
</html>
