<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-GB" xml:lang="en-GB">
	<head>
		<meta charset="UTF-8"/>
		<title>MKS Base Calculation</title>
		
		<link rel="stylesheet" type="text/css" href="style.css">
		
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.9/angular.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.11/ngStorage.min.js"></script>
		<script src="config-crawler.js"></script>
		<script src="parsimmon.js"></script>
		<script src="config-parser.js"></script>
		<script src="part.js"></script>
		<script src="scripts.js"></script>
	</head>
	<body ng-app="mks-calculation" ng-controller="mks-calculation-controller">
		<p>{{mksVersion}}</p>
		<div class="part" ng-repeat="part in parts">
			<h2 class="title">{{part.title}}</h2>
			<div class="resource" ng-show="part.resources">
				<h4>Resources</h4>
				<ul>
					<li ng-repeat="(resourceName, resource) in part.resources">{{resource.name}} - {{resource.amount}} of {{resource.maxAmount}}</li>
				</ul>
			</div>
			<div class="habitation" ng-show="part.habitation">
				<h4>Habitation</h4>
				<ul>
					<li ng-repeat="(habitationName, habitation) in part.habitation">
						{{habitationName}}
						<ul>
							<li>Base Kerbal Months - {{habitation.baseKerbalMonths}}</li>
							<li>Crew Capacity - {{habitation.crewCapacity}}</li>
							<li>Base Hab Multiplier  - {{habitation.baseHabMultiplier}}</li>
						</ul>
					</li>
				</ul>
			</div>
			<div class="lifeSupportRecyclers" ng-show="part.lifeSupportRecyclers">
				<h4>Life Support Recyclers</h4>
				<select ng-options="recyclerName for (recyclerName, recycler) in part.lifeSupportRecyclers track by recyclerName" ng-model="part.selectedRecycler"></select>
				<div>
					{{recyclerName}}
					<ul>
						<li>Crew Capacity - {{part.selectedRecycler.crewCapacity}}</li>
						<li>Efficiency - {{part.selectedRecycler.recyclePercent}}</li>
						<li>
							Inputs
							<ul>
								<li ng-repeat="input in part.selectedRecycler.inputs">{{input.name}} - {{input.ratio}}</li>
							</ul
						</li>
					</ul>
				</div>
			</div>
			<div class="converters" ng-show="part.converters">
				<h4>Converters</h4>
				<select ng-options="converterName for (converterName, converter) in part.converters track by converterName" ng-model="part.selectedConverter"></select>
				<div>
					Inputs
					<ul>
						<li ng-repeat="input in part.selectedConverter.inputs">{{input.name}} - {{input.ratio}}</li>
					</ul>
					Outputs
					<ul>
						<li ng-repeat="output in part.selectedConverter.outputs">{{output.name}} - {{output.ratio}}</li>
					</ul>
					Required
					<ul>
						<li ng-repeat="required in part.selectedConverter.required">{{required.name}} - {{required.ratio}}</li>
					</ul>
				</div>
			</div>
			<div>
				<h4>Other Modules</h4>
				<ul>
					<li ng-show="part.powerCoupler !== undefined">Power Coupler<span ng-show="part.powerCoupler.range !== undefined">: Range - {{part.powerCoupler.range}}</span></li>
					<li ng-show="part.powerDistributor !== undefined">Power Distributor<span ng-show="part.powerDistributor.range !== undefined">: Range - {{part.powerDistributor.range}}</span></li>
				</ul>
			</div>
		</div>
	</body>
</html>
