<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-GB" xml:lang="en-GB">
	<head>
		<meta charset="UTF-8"/>
		<title>MKS Base Calculation</title>
		
		<link rel="stylesheet" type="text/css" href="style.css">
		
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.9/angular.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.11/ngStorage.min.js"></script>
		<script src="config-crawler.js"></script>
		<script src="parsimmon.js"></script>
		<script src="config-parser.js"></script>
		<script src="part.js"></script>
		<script src="scripts.js"></script>
	</head>
	<body ng-app="mks-calculation" ng-controller="mks-calculation-controller">
		<p>{{mksVersion}}</p>
		<div class="part" ng-repeat="part in parts">
			<hr/>
			<h2 class="title">{{part.title}}</h2>
			<div class="resource" ng-show="part.resources">
				<h4>Resources</h4>
				<ul>
					<li ng-repeat="(resourceName, resource) in part.resources">{{resource.name}} - {{resource.amount}} of {{resource.maxAmount}}</li>
				</ul>
			</div>
			<div class="converters" ng-show="part.converters">
				<h4>Converters</h4>
				<select ng-options="converterName for (converterName, converter) in part.converters track by converter.name" ng-model="part.selectedConverter"></select>
				<div ng-show="part.selectedConverter.inputs">
					Inputs
					<ul>
						<li ng-repeat="input in part.selectedConverter.inputs">{{input.name}} - {{input.ratio}}</li>
					</ul>
				</div>
				<div ng-show="part.selectedConverter.outputs">
					Outputs
					<ul>
						<li ng-repeat="output in part.selectedConverter.outputs">{{output.name}} - {{output.ratio}}</li>
					</ul>
				</div>
				<div ng-show="part.selectedConverter.required">
					Required
					<ul>
						<li ng-repeat="required in part.selectedConverter.required">{{required.name}} - {{required.ratio}}</li>
					</ul>
				</div>
				<ul>
					<li ng-hide="habitation.baseKerbalMonths === undefined">Base Kerbal Months - {{habitation.baseKerbalMonths}}</li>
					<li ng-hide="habitation.crewCapacity === undefined">Crew Capacity - {{habitation.crewCapacity}}</li>
					<li ng-hide="habitation.baseHabMultiplier === undefined">Base Hab Multiplier  - {{habitation.baseHabMultiplier}}</li>
					<li ng-hide="habitation.crewCapacity === undefined">Crew Capacity - {{part.selectedRecycler.crewCapacity}}</li>
					<li ng-hide="habitation.recyclePercent === undefined">Efficiency - {{part.selectedRecycler.recyclePercent}}</li>
				</ul>
			</div>
			<div class="bays" ng-show="part.bays">
				Bays
				<ul>
					<li ng-repeat="(bayName, bay) in part.bays">{{bay.name}} ({{bay.typeName}})</li>
					
				</ul>
			</div>
		</div>
	</body>
</html>
